# PDFS
*.pdf

# EXECS
/petsc_examples/stokes_ksp/stokes_ksp
/petsc_examples/stokes_snes/stokes_snes
/StagRidge/src/stagridge
/StagRidge/src/stagridge_advdiff
*.app

# TESTS
out_*

# OUTPUT
*.vtr
*.pbin
*.info
__pycache__
*.pyc

# Logfiles
*.out
*.dSYM

# VSC/IDE
.vscode
